body {
  
}
.clock {
  
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
  margin: 57px 0 0 57px;
  border-radius: 64px;
  float: left;
  transform-origin-x: 50%;
  transform-origin-y: 50%;
  transform-origin-z: initial;
  transform: scale(3,3);
}
